
body {
	background-color: #6BAFE4;
	font-family: "Roboto", "Arial";
	color: #333;
}
.container {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}
h1,h2 {
	color: #CA3B20;
}
#chatText {
	height: 325px;
	background-color: #5C97E2;
	overflow-y: scroll;
	padding: 7px 13px;
	box-sizing: border-box;
}
#chatInput {
	width: 100%;
	font-size: 130%;
	padding: 5px;
	box-sizing: border-box;
}
